@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

/* Variables */
:root {
  --font-family: 'Source Code Pro', monospace;
  --normal-font: 400;
  --bold-font: 700;
  --bg-color: #0A1128;
  --primary-color: #FFFFFF;
  --secondary-color: #1282A2;
  --primary-shadow: #CAF0F8;
  --secondary-shadow: #80CED7;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --top-spacing: 120px;
}
/* Variables end */

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--top-spacing);
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color); 
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  font-size: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    overflow: hidden;
    width: 100%;
}

.logo-header {
  display: flex;
  background-color: var(--bg-color); 
  align-items: center;
}

.logo-header img {
  margin: 0 30px;
  height: 3rem;
  width: 3rem;
}

.logo-header h1 {
  color: var(--primary-color);
  font-weight: var(--normal-font);
  font-size: 20px;
}


nav ul li a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--secondary-color);
  font-weight: var(--bold-font);
  border-bottom: 2px solid var(--secondary-color);
  text-shadow: 3px 3px 5px #FFFFFF30;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--normal-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  max-width: 120rem;
  height: 100vh;
}

.about-me-content img {
  max-height: 60%;
  max-width: 60%;
}

.bio {
  width: 30rem;
  padding: 0.625rem;
  text-align: right;
}

.bio h1 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: var(--bold-font);
  font-size: 36px;
}

.bio span {
  color: var(--secondary-color);
  font-weight: var(--bold-font);
  border-bottom: 2px solid var(--secondary-color);
  font-size: 36px;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: var(--primary-color);
  font-weight: var(--normal-font);
  margin-bottom: 20px;
}

.bio-buttons-contact {
  float: left;
  margin-right: 20px;
}

#linkedin {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/linkedin-button.png") no-repeat; 
}

#linkedin:hover {
  background-position: 0 -50px;
} 

#github {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/github-button.png") no-repeat; 
}

#github:hover {
  background-position: 0 -50px;
}

#mail {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/mail.png") no-repeat; 
}

#mail:hover {
  background-position: 0 -50px;
}

#resume {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 175px; 
  background: url("../icons/resume-button.png") no-repeat; 
}

#resume:hover {
  background-position: 0 -50px;
}

.skills {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
  height: 100vh
}

.skill-header {
  margin-bottom: 100px;
  color: var(--primary-color);
  font-weight: var(--bold-font);
  font-size: 36px;
}

.skills-wrapper {
  gap: 100px;
}

.skills-wrapper img {
  padding: 1rem;
  background-color: #fff;
}

.skill {
  width: 200px;
  height: 230px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  justify-content: center;
}

.skill-detail {
  background-color: #ffffff;
  color: #000000;
  font-weight: var(--bold-font);
  font-size: 20px; 
}

.set-of-five {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 100px;
}

.projects-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-color);
  font-weight: var(--bold-font);
  font-size: 36px;
}

.project-card {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: var(--primary-color);
  width: 1400px;
}

.project-img {
  width: 600px;
}

.project-gallery {
  width: 600px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 550px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--secondary-color);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #0A112890;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--secondary-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.project-detail {
  width: 600px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.project-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  color: var(--primary-color);
  font-weight: var(--bold-font);
  font-size: 24px;
}

.project-date {
  color: var(--primary-color);
  font-weight: var(--bold-font);
  /* font-size: 20px; */
}

.project-description {
  line-height: var(--line-height);
  text-align: justify;
}

.project-description a {
  text-decoration: underline var(--secondary-color);
}

.project-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.project-skills-icon {
  width: fit-content;
  border: 3px solid #1282A2;
  text-align: center;
  padding: 5px 20px;
  border-radius: 30px;
  /* display: inline-block; */
  box-shadow: 5px 5px 10px #FFFFFF30;
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: var(--bold-font);
  font-size: 36px;
}

.contact-buttons {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#contact-linkedin {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/linkedin-button.png") no-repeat; 
}

#contact-linkedin:hover {
  background-position: 0 -50px;
} 

#contact-github {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/github-button.png") no-repeat; 
}

#contact-github:hover {
  background-position: 0 -50px;
}

#contact-mail {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 50px; 
  background: url("../icons/mail.png") no-repeat; 
}

#contact-mail:hover {
  background-position: 0 -50px;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  color: #FFFFFF;
}

.scroll-up {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  cursor: pointer;
}

#up-arrow {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding-left: 60px; 
  background: url("../icons/up-arrow.png") no-repeat; 
}

#up-arrow:hover {
  background-position: 0 -60px;
} 

/* @media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
} */